/* ESTILOS PARA EL LOGIN */


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d1d1d1;
  }

  .back-button {
    margin: 30px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
  }
  
  
  .center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

.login-box {
  padding: 50px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.red-button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.red-button:hover {
  background-color: #c0392b;
}

.forgot-password {
  margin-top: 10px;
  font-size: 14px;
}


